@using ASCIWebApp;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="content-wrapper">
        <div class="float-left">

        </div>
    </div>
</header>

<div id="body">

    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Choose file to upload</label><br>
            <input type="file" id="file" name="file" accept="xml">
        </div>
        <div>
            <button asp-controller="IACS" asp-action="UploadDataFromXml" >Submit</button>
        </div>
    </form>
    <script>
        var str=@ViewData["Message"];
        alert(str.fontcolor("black"))
    </script>
</div>