@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                alert("@TempData["Message"]");           
            });
        </script>
    }
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Choose file to upload</label><br>
            <div>Upload Xlsx file</div>
            <input type="file" id="file" name="xlsxfile" accept="xlsx">

        </div>
        <div>
            <button asp-action="UploadFileExcelToServer">Submit</button>
        </div>
    </form>
</body>
</html>
