<header>
    <div class="content-wrapper">
        <div class="float-left">

        </div>
    </div>
</header>
<div id="body">

    <h2>Xlsx file Uploaded</h2>
    <form method="post">
        <br />
        <br />
        <div>
            <button asp-action="StoreData">add info to db</button>
        </div>
    </form>
</div>