@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form>
        <label for="cars">Choose field to compare:</label>
        <select>
            <option value="" selected disabled hidden>Choose here</option>
            <option value="SocCardNum">SocCardNum</option>
            <option value="PassportNum">PassportNum</option>
            <option value="LAccountNum">LAccountNum</option>
            <option value="ANTPType">ANTPType</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
