<style>
    .CreatExcel a {
        background-color: white;
        color: black;
        border: 2px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    .CreatExcel a:hover{
        background-color: green;
        color: white;
    }
</style>
<header>
    <div class="content-wrapper">
        <div class="float-left">

        </div>
    </div>
</header>
<body>
    <div align="center">
        <div class="CreatExcel">
            <a href="/DataExcel/CreateExcelFile">create excel</a>
        </div>
        <br />
        <div class="CreatExcel">
            <a href="/DataExcel/Index">go to main page</a>
        </div>
    </div>
</body>