<header>
    <div class="content-wrapper">
        <div class="float-left">

        </div>
    </div>
</header>
<div id="body">
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
                $(document).ready(function () {
                    alert("@TempData["Message"]");
                });
        </script>

    }
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Choose file to upload</label><br>
            <div>Upload Xml file</div>
            <input type="file" id="file" name="xml" accept="xml, txt">
            <div>Upload Excel file</div>
            <input type="file" id="file" name="excel" accept="xlsx, xls">
        </div>
        <div>
            <button asp-action="CompareUploadedFiles">Submit</button>
        </div>
    </form>
</div>