@*if (TempData["Message"] != null)
    {
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript">
            $(document).ready(function () {
                alert("@TempData["Message"]");
            });
        </script>
        return View("Index");
    }*@
<header>
    <div class="content-wrapper">
        <div class="float-left">

        </div>
    </div>
</header>
<div id="body">
    <div align="right">
        <a href="/IACSShort/CreateExcelFile">make excel</a>
    </div>
</div>