@using ASCIWebApp;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="content-wrapper">
        <div class="float-left">

        </div>
    </div>
</header>

<div id="body">
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                alert("@TempData["Message"]");
            });
        </script>
    }
    <select asp-for="selectedAnalyst" class="form-control">
        <option value="" selected disabled hidden>Choose here</option>
        <option value="SocCardNum">SocCardNum</option>
        <option value="PassportNum">PassportNum</option>
        <option value="LAccountNum">LAccountNum</option>
        <option value="ANTPType">ANTPType</option>
    </select>

    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Choose file to upload</label><br>
            <div>Upload Xml file</div>
            <input type="file" id="file" name="xmlfile" accept="xml">
            <div>Upload Excel file</div>
            <input type="file" id="file" name="xlsxfile" accept="xlsx">
        </div>
        <div>
            <button asp-action="UploadFileToServer">Submit</button>
        </div>
    </form>
    @section scripts{
        <script>
            $("[name=selectedAnalyst]").on("change", function () {
                var analystId = $(this).val();
                var accept = $(this).closest('td').next().find("a")[0];
                var oldUrl = accept.href;
                var newUrl = oldUrl + "&analystid=" + analystId;
                $(accept).attr("href", newUrl);
            })
        </script>
    }
</div>